.cartcard {
  width: 416px;
  height: 481px;
  border-radius: 18px;
  background: #FFF;
  box-shadow: 4px 4px 20px -10px rgba(0, 0, 0, 0.25);
  @media screen and (max-width: 1024px) {
    width: 374px;
    margin: 0 auto;
  }

  .cartcard-img {
    display: block;
    height: 269px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 18px 18px 0 0;
  }

  .cartcard-name {
    height: 25px;
    margin: 0;
    padding: 15px 33px 0 33px;
    color: #454444;
    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;


  }

  .cartcard-quan {
    display: flex;
    padding: 11px 33px 0 33px;
    color: #A7A7B2;
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .quantity-text {
      border-radius: 8.8px;
      border: 1.1px solid #DFDFDF;
      padding: 5px 7px;
    }

    .quantity-button {
      font-size: 25px;
      border: none;
      background: #FFF;
    }
  }

  .cartcard-subtitle {
    padding: 9px 33px 0 33px;
    color: #A7A7B2;
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;

  }


  .cartcard-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 33px 0 33px;

    .cartcard-price {
      color: #9A9999;

      font-family: 'Gilroy', sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 0;

      .card-price-text {
        margin: 2px 0px;
      }

      .istom-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .remove-from-cart-button {
      border: none;
      padding: 8px 10px;
    }



  }
}