.partnerscarousel {
  margin: 20px auto;
  padding: 0px;

  .partner-title {
    padding: 80px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgba(0, 0, 0, 0.60);
    gap: 20px;
    font-family: Unbounded;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .partner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 136px;
    margin: 30px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(219, 215, 215, 0.10), 0px 7px 7px 0px rgba(219, 215, 215, 0.09), 0px 16px 9px 0px rgba(219, 215, 215, 0.05), 0px 28px 11px 0px rgba(219, 215, 215, 0.01), 0px 43px 12px 0px rgba(219, 215, 215, 0.00);

    .partner-img {
      width: 80%;
    }

    .slick-slide {
      margin: 0 10px;
      width: 40px !important;
    }
  }

  // Hide partnercarousel-max by default
  .partnercarousel-max {
    display: none;
  }

  // Show partnercarousel-max when screen size is larger than 1024px
  @media screen and (min-width: 1025px) {
    .partnercarousel-max {
      display: block;
    }
    .partnercarousel-min {
      display: none;
    }
  }

  // Show partnercarousel-min when screen size is 1024px or smaller
  @media screen and (max-width: 1024px) {
    .partnercarousel-max {
      display: none;
    }
    .partnercarousel-min {
      display: block;
    }
  }


  .bKOzTU {
    left: -20px !important;
    color: #ffa600 !important;
    background-color: #ffffff00;
  }

  .bKOzTU:before {
    content: '';
    position: absolute;
    left: 4px;
    top: -5px;
    width: 22px;
    height: 22px;
    border-top: solid 2px #ffa600;
    border-right: solid 2px #ffa600;
  }

  .hUeBZS {
    right: -20px !important;
    color: #ffa600 !important;
    background-color: #ffffff00;
  }

  .hUeBZS:before {
    content: '';
    position: absolute;
    left: 4px;
    top: -5px;
    width: 22px;
    height: 22px;
    border-top: solid 2px #ffa600;
    border-right: solid 2px #ffa600;
  }


  .fCgGCc {
    outline: none;
    width: 306px;
    min-height: 1px;
    margin: 19px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
}