.service {
  // background-image: url(../../assets/images/vector1.png);
  // background-repeat: no-repeat;
  // background-position: 100% -10%;




  .service-title {
    padding: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: rgba(0, 0, 0, 0.60);
    
    font-family: Unbounded;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {

    display: flex;
    justify-content: center;
    align-items: center;
    }

  }

  .service-cards {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // gap: 24px;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      display: none;
      
    }
    
    .service-column {
      // display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      padding: 0 75px;
      // gap: 24px;
      
      



      .ser-card {
        text-align: center;
        // padding-top: 20px;
        margin-bottom: 15px;
        width: 244px;
        height: 166px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        


        .ser-card-img {
          width: 69px;
          
          
        }

        .ser-card-subtitle {
          
          color: #9A9999;
          text-align: center;
          font-family: 'Gilroy', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;


        }


      }

    }

  }
  .service-mobile {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
      width: 360px;
      margin: 50px auto;
      .ser-card {
        text-align: center;
        // padding-top: 20px;
        margin-bottom: 15px;
        width: 100% !important;
        height: 166px;
        border-radius: 10px;
        background: #FFF;
        // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 11.05px;

/* Тень */
box-shadow: 0px 0px 1px 0px rgba(179, 179, 179, 0.1),0px 2px 2px 0px rgba(179, 179, 179, 0.09),0px 4px 3px 0px rgba(179, 179, 179, 0.05),0px 8px 3px 0px rgba(179, 179, 179, 0.01),0px 12px 3px 0px rgba(179, 179, 179, 0);
background: rgb(255, 255, 255);


        .ser-card-img {
          width: 54px;
          
          
        }

        .ser-card-subtitle {
          width: 150px;
          color: #9A9999;
          text-align: center;
          font-family: 'Gilroy', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;


        }

      }
    }

    // @media (max-width: 430px) and (min-width: 375px) {
    //   display: block;

    //   .service-cards-mobile {
        

    //     .ser-card-mobile {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       margin: 20px;
    //       width: 306px;
    //       height: 166px;
    //       border-radius: 11.054px;
    //       background: #ffffff;

    //       box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    //     }
    //   }
    // }
  }


  .slick-prev {
    z-index: 1 !important;
    left: 110px !important;
    top: 190px !important;
  }
  
  .slick-next {
    /* left: -61px; */
    right: 110px !important;
    top: 190px !important;
    // margin-left: 900px !important;
  }
}