.detailcard {
  display: flex;
  margin: 72px;
  gap: 53px;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    
  }

  &-gallery {
    display: flex;
    gap: 10px;
    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    .photo-gallery__thumbnails {
      width: 137px;
      border-radius: 4px;
      border: 1px solid #E8E9EA;
      background: rgba(0, 0, 0, 0.20);
      height: 154px;
      @media screen and (max-width: 1024px) {
        display: flex;
        // gap: 30px;
        width: 110px;
        height: 84px;
      }

      .photo-gallery__thumbnail {
        width: 100%;
        height: 100%;
        margin-bottom: 14px;
        border-radius: 4px;
        border: 1px solid #E8E9EA;
        background: rgba(0, 0, 0, 0.20);
      }
    }

    .photo-gallery__main {
      width: 475px;
      height: 503px;
      border-radius: 4px;
      border: 1px solid #E8E9EA;
      background: rgba(0, 0, 0, 0.20);
      @media screen and (max-width: 1024px) {
        width: 347px;
        height: 249px;
      }

      &-photo {
        height: 100%;
        width: 100%;
      }
    }
  }

  &-info {
    width: 347px;
    &__details {}

    &__discount {
      color: #FFF;

      font-family: "Gilroy", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 10px 27px;
      max-width: 50px;
      height: 16px;
      border-radius: 7.286px;
      background: #FFB224;
      margin-bottom: 19px;

    }

    &__name {
      color: #454444;
      font-family: "Gilroy", sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      line-height: 30px;
      text-transform: capitalize;
      margin-bottom: 19px;

    }

    &__price {
      color: var(--, #FFB224);
      font-family: "Gilroy", sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      line-height: 30px;
      margin-bottom: 9px;

    }

    &__brand {
      color: var(--Dark, #9A9999);
      font-family: "Gilroy", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 25px;

    }

    &__country {
      color: var(--Dark, #9A9999);
      font-family: "Gilroy", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 25px;
    }

    .quantity {
      &-controls {
        margin: 25px 0;
        display: flex;
      }

      &-text {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        // background-color: firebrick;
        border-radius: 8.8px;
        border: 1.1px solid #DFDFDF;

        padding: 17px 19px;
        margin: 0 8px;
        width: 20px;
        height: 20px;
        color: #828282;
        font-family: "Gilroy", sans-serif;
        font-size: 17.6px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &-button {
        border: none;
        background-color: #FFF;
        font-family: "Gilroy", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &-button:hover {
        color: #E09400; // Change the background color on hover
      }

    }

    &__addToCart {
      padding: 21px 70px;
      margin-bottom: 34px;
      color: #FFF;

      font-family: "Gilroy", sans-serif;
      font-size: 14.33px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

    }

    &__article {
      padding: 18px 0;
      border-top: 1px solid #DFDFDF;
      color: var(--Dark, #9A9999);
      font-family: "Gilroy", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 25px;
    }

    &__category {
      color: var(--Dark, #9A9999);
      font-family: "Gilroy", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 25px;
    }
  }
}